In [1]:
import numpy as np
import pandas as pd

In [2]:
#Pandas-3 data structures
# 1)Series
# 2)DataFrame
# 3)Panel

#Syntax -pandas.Series( data, index, dtype, copy)

#It is size immutable
#It has homogeneous data
#Value mutable

#DataFrame

#Size is mutable
#value is mutable
#It can contain heterogeneous data

s=pd.Series([10,20,30,np.nan,40])
print(s)

0    10.0
1    20.0
2    30.0
3     NaN
4    40.0
dtype: float64

In [43]:
s=pd.Series([10,20,30,40],index=[1,2,3,4])
y=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(s)
print()
print(s[2])
print()
print(y['b'])

1    10
2    20
3    30
4    40
dtype: int64

20

2

In [ ]:
#DATAFRAMES

#Syntax:pandas.DataFrame( data, index, columns, dtype, copy)

# A pandas DataFrame can be created using various inputs like âˆ’

# Lists
# Dict
# Series
# Numpy ndarrays
# Another DataFrame

In [45]:
df=pd.DataFrame([])
print(df)

Empty DataFrame
Columns: []
Index: []

In [46]:
data=(['Tom','10'],['Jerry','8'],['Scooby','15'],['Shaggy','25'])
df=pd.DataFrame(data,index=['a','b','c','d'],columns=['Name','Age'])
print(df)

     Name Age
a     Tom  10
b   Jerry   8
c  Scooby  15
d  Shaggy  25

In [36]:
df=pd.DataFrame({'A':[1,2,3,4],
                 'B':pd.Timestamp('20200720'),
                 'C':pd.Series(1,index=list(range(4)),dtype='float64'),
                 'D':np.array([5]*4,dtype='float64'),
                 'E':pd.Categorical(['true','false','true','false']),
                 'F':'blah'})
print(df)

   A          B    C    D      E     F
0  1 2020-07-20  1.0  5.0   true  blah
1  2 2020-07-20  1.0  5.0  false  blah
2  3 2020-07-20  1.0  5.0   true  blah
3  4 2020-07-20  1.0  5.0  false  blah

In [52]:
data = ({'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])})

df = pd.DataFrame(data)
print (df)
print()
print(df['one'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [3]:
#date_range

dates=pd.date_range('20200720',periods=10) #yyyymmdd
print(dates)

DatetimeIndex(['2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23',
               '2020-07-24', '2020-07-25', '2020-07-26', '2020-07-27',
               '2020-07-28', '2020-07-29'],
              dtype='datetime64[ns]', freq='D')

In [20]:
dates=pd.date_range('20071220',periods=5)
print(dates)

DatetimeIndex(['2007-12-20', '2007-12-21', '2007-12-22', '2007-12-23',
               '2007-12-24'],
              dtype='datetime64[ns]', freq='D')

In [26]:
#np arrays in a DataFrame

df=pd.DataFrame(np.random.randint(4,10),index=dates,columns=['A','B','C','D'])
print(df)

            A  B  C  D
2007-12-20  6  6  6  6
2007-12-21  6  6  6  6
2007-12-22  6  6  6  6
2007-12-23  6  6  6  6
2007-12-24  6  6  6  6

In [55]:
#COLUMN ADDITION

data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'],dtype='float16')}
df=pd.DataFrame(data)
df['three']=pd.Series([7,8,9],index=['a','b','c'])
df['four']=df['one']*df['two']
print(df['three'])
print()
print(df['four'])
print()
print(df)

a    7.0
b    8.0
c    9.0
d    NaN
Name: three, dtype: float64

a    1.0
b    4.0
c    9.0
d    NaN
Name: four, dtype: float64

   one  two  three  four
a  1.0  1.0    7.0   1.0
b  2.0  2.0    8.0   4.0
c  3.0  3.0    9.0   9.0
d  NaN  4.0    NaN   NaN

In [62]:
#COLUMN DELETION - remove,pop,del

data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
        'three' : pd.Series([10,20,30], index=['a','b','c'])}
df=pd.DataFrame(data)
print(df)
print()
df.pop('one')
print(df)
print()
del df['two']
print(df)
print()

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN

   three
a   10.0
b   20.0
c   30.0
d    NaN

Empty DataFrame
Columns: []
Index: [a, b, c, d]

In [130]:
#Rows selection:

#Selection by label
#Selection by integer Location

data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df=pd.DataFrame(data)
print(df)
print()
print(df.loc['d'])     #by Label
print()      
print(df.loc['a'])
print()
print(df.loc[:'c'])
print()
print(df.loc[::2, 'one'::2])  ##############################################################
print()
# print(df.loc[1:3, 'one':'two'])  ##############################################################

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

one    NaN
two    4.0
Name: d, dtype: float64

one    1.0
two    1.0
Name: a, dtype: float64

   one  two
a  1.0    1
b  2.0    2
c  3.0    3

   one
a  1.0
c  3.0

In [132]:
df.iloc[3]#by integer Location

print(df.iloc[1])
print()
print(df.iloc[:,0])
print()
print(df.iloc[:,1:])
print()
print(df.iloc[:][1:])

one    2.0
two    2.0
Name: b, dtype: float64

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

   two
a    1
b    2
c    3
d    4

   one  two
b  2.0    2
c  3.0    3
d  NaN    4

In [76]:
#Addition of rows

df1 = pd.DataFrame([[1, 2], [3, 4]],columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
df1=df1.append(df2)
print(df1)

   a  b
w  1  2
x  3  4
0  5  6
1  7  8

In [78]:
#Deletion of rows
df1 = pd.DataFrame([[1, 2], [3, 4]],columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
df1=df1.append(df2)
print(df1)
print()
print(df1.drop(0))

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

   a  b
1  3  4
1  7  8

In [79]:
#Slicing of rows

data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(data)
print(df)
print()
print (df[2:4])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

   one  two
c  3.0    3
d  NaN    4

In [95]:
data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
print(df.shape) #no or rows,columns
print()
print(df.size)
print()
print(df.dtypes) #data types of each column and overall datatype
print()
print(df.index) # displays indexes and their datatype
print()
print(df.columns) #displays column names and their datatype
print()
print(df)
print()
print(df.T)
print()
print(df.rename(columns = {'one':'Abc'})) #renaming column names
print()
print(df.rename(index={'b':50})) # renaming the index
print()

(4, 2)

8

one    float64
two      int64
dtype: object

Index(['a', 'b', 'c', 'd'], dtype='object')

Index(['one', 'two'], dtype='object')

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

       a    b    c    d
one  1.0  2.0  3.0  NaN
two  1.0  2.0  3.0  4.0

   Abc  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

    one  two
a   1.0    1
50  2.0    2
c   3.0    3
d   NaN    4

In [96]:
df1 = pd.DataFrame(
    {
        "Name":   ["Gaurav", "Abhishek1", "Krishna", "Abhishek2", "Harshita", "Joey", "Shweta", "na-1" , "na-2"  , np.nan],
        "Age":    [ 0      , 1          , 2        , 2          , 1         , 2     , 3       , 1      ,  np.nan , 2     ],
        "Gender": [ 0      , 0          , 0        , 0          , 1         , 1     , 1       , np.nan ,  0      , 0     ]
    }
)
print(df1)

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

In [104]:
d = df1.rename(columns = {'Name':'Abc'}) #renaming the columns
print(d)
print()
d1 = d.rename(columns = {'Age':'A'}, inplace=True)
print(d1)
print(d)

         Abc    A  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

None
         Abc    A  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

In [107]:
d.columns = ['N',"A","G"] #Another way of renaming the column names
print(d)
print()
print(d.rename(lambda x: x.lower(), axis=1)) #the column names are converted to lower case

           N    A    G
0     Gaurav  0.0  0.0
1  Abhishek1  1.0  0.0
2    Krishna  2.0  0.0
3  Abhishek2  2.0  0.0
4   Harshita  1.0  1.0
5       Joey  2.0  1.0
6     Shweta  3.0  1.0
7       na-1  1.0  NaN
8       na-2  NaN  0.0
9        NaN  2.0  0.0

           n    a    g
0     Gaurav  0.0  0.0
1  Abhishek1  1.0  0.0
2    Krishna  2.0  0.0
3  Abhishek2  2.0  0.0
4   Harshita  1.0  1.0
5       Joey  2.0  1.0
6     Shweta  3.0  1.0
7       na-1  1.0  NaN
8       na-2  NaN  0.0
9        NaN  2.0  0.0

In [109]:
df1 = pd.DataFrame(
    {
        "Name":   ["Gaurav", "Abhishek1", "Krishna", "Abhishek2", "Harshita", "Joey", "Shweta", "na-1" , "na-2"  , np.nan],
        "Age":    [ 0      , 1          , 2        , 2          , 1         , 2     , 3       , 1      ,  np.nan , 2     ],
        "Gender": [ 0      , 0          , 0        , 0          , 1         , 1     , 1       , np.nan ,  0      , 0     ]
    }
)

print(df1)
print()
print(type(df1.Name)) #type of name column
print()
print(df1.Age.unique())#how many uniques values are present in age column
print()
print(df1.Age.value_counts()) #how many times each value is repeated in the column age

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

<class 'pandas.core.series.Series'>

[ 0.  1.  2.  3. nan]

2.0    4
1.0    3
3.0    1
0.0    1
Name: Age, dtype: int64

In [122]:
#Describe

# Syntax:DataFrame.describe(percentiles=None, include=None, exclude=None)

print(df1)
print()

print(df1.describe(include='all'))

print()
print(df1.head())

print()
print(df1.head(3))

print()
print(df1.tail())

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

             Name       Age    Gender
count           9  9.000000  9.000000
unique          9       NaN       NaN
top     Abhishek2       NaN       NaN
freq            1       NaN       NaN
mean          NaN  1.555556  0.333333
std           NaN  0.881917  0.500000
min           NaN  0.000000  0.000000
25%           NaN  1.000000  0.000000
50%           NaN  2.000000  0.000000
75%           NaN  2.000000  1.000000
max           NaN  3.000000  1.000000

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0

     Name  Age  Gender
5    Joey  2.0     1.0
6  Shweta  3.0     1.0
7    na-1  1.0     NaN
8    na-2  NaN     0.0
9     NaN  2.0     0.0