In [ ]:
#Declare a string and store it in a variable. 
s='string'


#Check the type and print the id of the same.
print(type(s),id(s),sep='\t')

<class 'str'>	139625157123912

In [ ]:
#Which are valid/invalid strings
1. 'This is Python class'
Valid

2. "This is Python class"
Valid

3. '''This is Python class'''
Valid

4. """This is Python class"""
Valid

5. 'This is Python's class'
Invalid

6. "Learnbay provides "Java", "Python" classes"
Invalid

7. "Learnbay provides 'Java', 'Python' classes"
Valid

8. "This is Python's class"
Valid

9. """Learnbay provides "Java", "Python" classes"""
Valid

10. '''Learnbay provides "Java", "Python" classes'''
Valid   

11. '''Learnbay provides
"Java", "Python" 
classes'''
Valid

12. 'This is
Python 
class'
Invalid

In [ ]:
#Write the code to get the output mentioned below print statement
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."


#output:- The length of my_str is 66
print("The length of my_str is ",len(my_str))

#output:- id of my_str and my_str1 is same? - True
my_str=my_str1
print("id of my_str:",id(my_str),"and id of my_str1:",id(my_str1),"is same")

#output:- Type of my_str is: str
print('type of my_str is:',type(my_str))

The length of my_str is  66
id of my_str: 139624582228248 and id of my_str1: 139624582228248 is same
type of my_str is: <class 'str'>

In [ ]:
#Indexing
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
#Write the code to get the output,instructions are mentioned below print statement. use indexing

print('The first character in my_str is:',my_str[0])
#output:- The first character in my_str is: A
#Note:- Use positive indexing

s=len(my_str)
print('The first character in my_str is:',my_str[66])
#output:- The first character in my_str is: h
#Note:- Use len() function.

s=my_str[:10]+"c"+my_str[11:]
print('The character at index 10 in my_str is:',s[10])
#output:- The character at index 10 in my_str is: c
#Note:- Use positive indexing

print('The last character in my_str is:',my_str[-1])
#output:- The last character in my_str is: h
#Note:- Use negative indexing.

s=len(my_str)
print('The last character in my_str is:',my_str[66])
#output:- The last character in my_str is: h
#Note:- Use len() function.

print('The character in my_str is:',my_str[9])
#output:- The character in my_str is: 8
#Note:- Use positive index

The first character in my_str is: A
The first character in my_str is: h
The character at index 10 in my_str is: c
The last character in my_str is: h
The last character in my_str is: h
The character in my_str is: 8

In [ ]:

#Slicing
my_str = "Although that way may not be obvious at first unless you're Dutch."
#Write the code to get the output,instructions are mentioned below print statement. use slicing

print('You have sliced:',my_str[::])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step


print('You have sliced:',my_str[0:len(my_str):])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.with begin as 0 end using len and without step


print('You have sliced:',my_str[::1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.without begin and end but using step


print('You have sliced:',my_str[0:len(my_str):1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.With begin, end and step


print('You have sliced:',my_str[1:1:-1])
#output:- You have sliced:   .with using begin and end using postive values and step as negative values.
#Slicing command should print empty string.


print('You have sliced:',my_str[0:len(my_str):2])
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth


print('You have sliced:',my_str[0:len(my_str):3])
#output:- You have sliced: Ahgttam tebo  r lsorDc


print('You have sliced:',my_str[::-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step


print('You have sliced:',my_str[67::-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.


print('You have sliced:',my_str[::-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step

print('You have sliced:',my_str[-1:-len(my_str):-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.


print(my_str[10:17:-1])
#What will be the output?-->empty


new_string=(my_str[16:13:-1]+" "+my_str[38:36:-1])
print('You have sliced:',new_string)
#output:- You have sliced: yaw ta, Using begin, end and step.

new_string=((my_str[49:(len(my_str)-10):1])+(my_str[len(my_str):len(my_str)-2:-1]))
print('You have sliced:',new_string)
#output:- You have sliced: ess you. Using begin, end and step.

You have sliced: Although that way may not be obvious at first unless you're Dutch.
You have sliced: Although that way may not be obvious at first unless you're Dutch.
You have sliced: Although that way may not be obvious at first unless you're Dutch.
You have sliced: Although that way may not be obvious at first unless you're Dutch.
You have sliced:
You have sliced: Atog htwymyntb biu tfrtuls o'eDth
You have sliced: Ahgttam tebo  r lsorDc
You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
You have sliced: .cu ruysen si asovoe o a a athuhl
You have sliced: .cu ruysen si asovoe o a a athuhl

You have sliced: yaw ta
You have sliced: ess you.

In [ ]:
#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

#Write the code to get the output,instructions are mentioned below.
#Output is: Learnbay Python
print(str1+' '+str2)

#Error: TypeError: can only concatenate str (not "int") to str

print(str1+10)

#Error: TypeError: can only concatenate str (not "float") to str

print(str1+10.2)



#Find below Output
#Output is: LearnbayLearnbayLearnbay
print(str1+str1+str1)

#Error: TypeError: can't multiply sequence by non-int of type 'float'

print(str1*10.2)

#Error: TypeError: can't multiply sequence by non-int of type 'str'

print(str1*str2)

LearnbayLearnbayLearnbay

In [ ]:
#Find below Output
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

#print True by using identity operator between str1 and str2
print(str1==str2)

#print False by using identity operator between str1 and str3
print(str1==str3)

#print False by using identity operator between str4 and str3
print(str4==str3)

#Check if P is available in str1 and print True by using membership operator
print('P' in str1)

#Check if $ is available in str3 and print True by using membership operator
print('$' in str3 )

#Check if N is available in str3 and print False by using membership operator
print('N' in str3)

True
False
True
True
True
False

In [ ]:
#Complete the below code
str1 = 'This is Python class'
#write the code to replace 'Python' with 'Java' and you should get below error.
#TypeError: 'str' object does not support item assignment.


print(str1.replace("Python","java"))

This is java class

In [ ]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print True using comparison operator
print(str1>=str2)
print(str1<=str2)
print(str1==str2)
#Compare str1 and str2 and print True using equality operator
print(str1==str2)

#Compare str1 and str2 and print False using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using comparison operator
print(str1>str2)
print(str1<str2)
print(str1!=str2)

True
True
True
True
False
False
False
False
65
97

In [ ]:
str1 = 'A' 
str2 = 'a'
print(ord('A'))
print(ord('a'))
#Compare str1 and str2 and print True using comparison operator

print(str1<str2)
print(str1<=str2)

#Compare str1 and str2 and print True using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using equality operator
print(str1==str2)

#Compare str1 and str2 and print False using comparison operator
print(str1>str2)
print(str1>=str2)

65
97
True
True
True
False
False
False

In [ ]:
str1 = 'A'
str2 = '65'
#Compare str1 and str2 using comparison operator and it should give below error.
#Error: TypeError: '>=' not supported between instances of 'str' and 'int'
#print('A'>=65)

#Compare str1 and str2 and print True using equality operator
print(str1!=str2)


#Compare str1 and str2 and print False using equality operator
print(str1==str2)
print('A'==65)

True
False
False

In [ ]:
str1 = 'Python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator
print(str1>=str2)
print(str1<=str1)

#Compare str1 and str2 and print True using equality operator
print(str1==str2)

#Compare str1 and str2 and print False using equality operator
print(str1!=str2)


#Compare str1 and str2 and print False using comparison operator
print(str1>str2)
print(str1<str2)

True
True
True
False
False
False

In [ ]:
str1 = 'Python'
str2 = 'python'
#Compare str1 and str2 and print True using comparison operator
print(str1<str2)
print(str1<=str2)

#Compare str1 and str2 and print True using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using equality operator
print(str1==str2)

#Compare str1 and str2 and print False using comparison operator
print(str1>str2)
print(str1>=str2)

True
True
True
False
False
False

In [ ]:
a = 'Python'
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(b and a)
print(a or b)
print(b or a)
print(not b)
print(not a)

Python
Python
True
False

In [ ]:
a = ''
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(b and a)
print(a or b)
print(b or a)
print(not b)
print(not a)

True
True

In [ ]:
a = 'Python'
b = 'learnbay'

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b) #returns str2
print(b and a)
print(a or b)  #returns str1
print(b or a)
print(not b)
print(not a)

learnbay
Python
Python
learnbay
False
False

In [ ]:
my_str= "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.
print(my_str.count('t'))

#Write the code to get the index of '8' in my_str. Use find() and index() method.
print(my_str.rindex('8'))
print(my_str.rfind('8'))
print(my_str.index('8'))
print(my_str.find('8'))


#What will be the output of below code?
print(my_str.find('the'))
-1

#print(my_str.index('the'))
#Value Error

print(my_str.find('t', 9, 15))
#t at 11 index

print(my_str.rfind('u'))

print(my_str.rindex('u'))

7
2
9
9
9
9
-1
11
63
63

In [ ]:
#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies 
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
#output:- 'Python'

s='    Python   '
print(s.strip())

#input:- '    Python'
#output:- 'Python'

s='    Python'
print(s.lstrip())

#input:- 'Python   '
#output:- 'Python'

s= 'Python   '
print(s.rstrip())

Python
Python
Python

In [ ]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to convert all alphabets in my_str into upper case.
print(my_str.upper())

#Write the code to convert all alphabets in my_str into lower case.
print(my_str.lower())

#Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
print(my_str.swapcase())

ALTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE DUTCH
although 8 that way may not be obvious at first unless you're dutch
aLTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE dUTCH

In [ ]:
#Write the code which takes one string from user and if it starts with small case letter then convert it to corresponding 
#capital letter otherwise if starts with capital letters then convert first character of every word in that string into capital.

s=(input("enter a word:"))
print((s[0].swapcase())+(s[1::]))

enter a word:Python
python

In [ ]:
#Take a string from user and check if it is:-
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal
s=str(input('enter a string:'))
print(s.isalnum())
print(s.isalpha())
print(s.isdigit())
print(s.islower())
print(s.isupper())
print(s.istitle())
print(s.isspace())
print(s.isnumeric())
print(s.isdecimal())

enter a string:1234578
True
False
True
False
False
False
False
True
True

In [ ]:
#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'
s=(input('Enter a string:'))
print(s.isidentifier())

Enter a string:abc$
False

In [ ]:
#What will be output of below code?
s = chr(65) + chr(97)
print(s.isprintable())

s = chr(27) + chr(97)
print(s.isprintable())

s = '\n'
print(s.isprintable())

s = ''
print(s.isprintable())

True
False
False
True

In [ ]:
# What will be output of below code?

my_string = '  '
print(my_string.isascii())

True


my_string = 'Studytonight'
print(my_string.isascii())

True

my_string = 'Study tonight'
print(my_string.isascii())

True

my_string = 'Studytonight@123'
print(my_string.isascii())

True

my_string = '°'
print(my_string.isascii())

False

my_string = 'ö'
print(my_string.isascii())

False

AttributeError: ignored

In [ ]:
#What will be the output of below code?
firstString = "der Fluß"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

The strings are equal.

In [ ]:
#Write the code to get below output
#O/P 1:- python** (using ljust method)

s='python'
k=(s.ljust(8,'*'))
print(k)

#Write the code to get below output
#O/P 1:- **python (using rjust method)
s='python'
print(s.rjust(8,'*'))

#Write the code to get below output
#O/P 1:- **python** (using rjust method)

print(k.rjust(10,'*'))

python**
**python
**python**

In [ ]:
#Write a Python program to find the length of the my_str:-

#Input:- 'Write a Python program to find the length of the my_str'
#Output:- 55
s='Write a Python program to find the length of the my_str'
print(len(s))

55

In [ ]:
#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 9
s='peter piper picked a peck of pickled peppers.'
repeat_count=0
for i in s:
       if (i=='p'):
           repeat_count+=1
print(repeat_count)  

OR

print(s.count('p'))

9
9

In [ ]:
#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 
# 0
# 6
# 8
# 12
# 21
# 29
# 37
# 39
# 40
 
s='peter piper picked a peck of pickled peppers.'
for i in range(len(s)):
  if ('p'==(s[i])):
    print(i)

0
6
8
12
21
29
37
39
40

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers']
s='peter piper picked a peck of pickled peppers.'
print(s.split())

['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'peppers pickled of peck a picked piper peter'
s='peter piper picked a peck of pickled peppers.'
lst=(s.split())
reverse=lst[::-1]
#print(list(reversed(lst)))
x=(' '.join(reverse))
print(x.replace('.', ''))

peppers pickled of peck a picked piper peter

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'sreppep delkcip fo kcep a dekcip repip retep'

s='peter piper picked a peck of pickled peppers.'
output=''
ind=-1
while ind>=-(len(s)):
    output+=s[ind]
    ind-=1
print(output)

.sreppep delkcip fo kcep a dekcip repip retep

In [175]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'retep repip dekcip a kcep fo delkcip sreppep'
s='peter piper picked a peck of pickled peppers'
w = s.split(" ")
nw = [i[::-1] for i in w]
ns = " ".join(nw)
print(ns)

retep repip dekcip a kcep fo delkcip sreppep

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'Peter Piper Picked A Peck Of Pickled Peppers'

s='peter piper picked a peck of pickled peppers.'
print(s.title())

Peter Piper Picked A Peck Of Pickled Peppers.

In [ ]:
#Write a python program to find below output:-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.'
#Output:- 'Peter piper picked a peck of pickled peppers'
s= 'Peter Piper Picked A Peck Of Pickled Peppers.'
new_s=(s.lower())
print(new_s.capitalize())

Peter piper picked a peck of pickled peppers.

In [ ]:
#Write a python program to implement index method. If sub_str is found in my_str then it will print the index
# of first occurrence of first character of matching string in my_str:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Pickl'
#Output:- 29
s='Peter Piper Picked A Peck Of Pickled Peppers.'
s.index('Pickl',0,len(s))

29

In [ ]:
#Write a python program to implement replace method. If sub_str is found in my_str then it will replace the first 
#occurrence of sub_str with new_str else it will will print sub_str not found:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', new_str = 'Pack'
#Output:- 'Peter Piper Picked A Pack Of Pickled Peppers.'

my_str= 'Peter Piper Picked A Peck Of Pickled Peppers.'
sub_str='Peck'
if sub_str in my_str:
    new_str=(my_str.replace('Peck','Pack'))
    print(new_str)
else:
  print('sub_str not found')

Peter Piper Picked A Pack Of Pickled Peppers.

In [8]:
#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 
#Output:- '*********************Peck********************'
s='Peter Piper Picked A Peck Of Pickled Peppers.'

*Peck Of Pickled Peppers.

In [ ]:
#Write a python program to find below output (implement partition and rpartition):-

#Input:- 'This is Python class', sep = 'is', 
#Output:- ['This', 'is', 'Python class']
s='This is Python class'
#s.partition('is')
s.rpartition('is')

('This ', 'is', ' Python class')

In [ ]:
#Write a python program which takes one input string from user and encode it in below format:-
       #Input:- 'Python'
       #Output:- 'R{vjqp'
s = 'Python'
out_str = ''
for i in range(len(s)):
    if i <=(len(s)):
        out_str += chr(ord(s[i])+2)
print(out_str)       
              
       #Input:- 'Python'
       #Output:- 'Rwvfql'
s = 'Python'
output_str = ''
for i in range(len(s)):
    if i % 2 == 0:
        output_str += chr(ord(s[i])+2)
    else:
        output_str += chr(ord(s[i])-2)
print(output_str)
        
        
        
       #Input:- 'Python'
       #Output:- 'R{vfml'
        
s = 'Python'
output_str = ''
for i in range(len(s)):
    if i <=(len(s)/3):
        output_str += chr(ord(s[i])+2)
        
    else:
        output_str += chr(ord(s[i])-2)
print(output_str)

R{vjqp
R{vfml